body{
    font: Arial,Helvetica,sans-serif;
}
#container{
    width:1000px;
/*    border: 10px solid grey;*/
/*    height: 100px;*/
    margin: 0 auto;
    
}
#header{
    height: 100px;
    padding: 10px 0
    
}
#brand{
    float: left
}
h1 a{
    font-size: 50px;
    font-weight: 100px;
    color: purple;
    text-decoration: none;
}
#searchbox{
    float: right;
    background:linear-gradient(green,yellow);
    width: 400px;
    height: 50px;
    padding: 20px 20px 0 20px;
    margin-top: 20px;
    border: solid blue;
}
.text{
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: red;
    background:url(images/downloadl.png) right center;
    background-repeat: no-repeat;
    border: solid black;
}

.submit{
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background: purple;
    font-size: 15px;
}
.clear{
    clear:both;
}
#menu{
    height: 70px;
    background: linear-gradient(yellow,red);
    padding: 7px 0;
}
ul{
    list-style: none;
}
#menu ul li{
    float:left;
    padding: 0 30px;
    height:30px;
    border-right: 1px solid #5d12e7;
}
#menu ul li:last-child{
    border-right: none;
}
#menu ul li {
    text-decoration: none;
    text-transform:uppercase;
    font-size: 17px;
    color: black;
    line-height: 30px;
    -webkit-transition:font-size 0.5s ease;
    -moz-transition:font-size 0.5s ease;
    -o-transition:font-size 0.5s ease;
    -ms-transition:font-size 0.5s ease;
    transition:font-size 0.5s ease;
}
#menu ul li:hover,#menu ul li:active{
    font-size: 20px;
    font-weight:bold;
    color: purple;
}
#introduction{
    background: linear-gradient(#E5F2BB,#B7E952,yellow);
    padding: 30px;
    margin: 15px 0;
}
#introduction h3{
    font-size: 50px;
    color: #316901;
    font-weight: normal;
}
#introduction p{
    font-size: 25px;
    color: #70941;
    text-align: justify;
}
.sidebar{
    height: 500px;
    width: 420px;
    border: 2px solid green;
    border-radius: 20px;
    padding: 10px 30px;
    
}
.sidebar h3{
    color:purple;
    font-size: 30px
}
.sidebar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #5d12e7;
     -webkit-transition:font-size 0.5s ease;
    -moz-transition:font-size 0.5s ease;
    -o-transition:font-size 0.5s ease;
    -ms-transition:font-size 0.5s ease;
    transition:font-size 0.5s ease;
    
}
.sidebar ul{
    padding-top: 8px;
}
#leftsidebar ul li{
    padding-bottom: 5px;
    padding-left: 20px;
list-style-image: url(images/arrows.jpg)
}
#rightsidebar ul li{
    padding-bottom: 5px;
    padding-top: 20px;
    
list-style-image: url(images/tick.jpg)
}
.sidebar ul li a:hover,.sidebar ul li a.active{
    text-decoration: none;
    color: purple;
    font-size: 23px;
    font-weight: bold;
}
#leftsidebar{
    float: left;
}
#rightsidebar{
    float: right;
}
.footer{
    height: 60px;
    background: linear-gradient(yellow,red);
    padding: 10px 30px;
    margin-top:15px; 
}
